body {
	background-color: #f5f6fa;
}
.App {
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
}
.app__left {
	flex: 0.9;
}
.app__right {
	display: flex;
	flex-direction: column;
}
.app__right .MuiCardContent-root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.app__graph {
	flex-grow: 1;
}
.app__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.app__header h1 {
	color: #cf1b1b;
	font-size: 2rem;
}
.app__stats {
	display: flex;
	justify-content: space-between;
}
.app__dropdown {
	background-color: white;
}
.graph__title {
	margin-top: 20px;
}
@media (max-width: 990px) {
	.App {
		flex-direction: column;
	}
}
